

/*================================================ FOOTER =======================================================*/

.footer-model {

  padding: 1rem;
}

/*================================================ NAV =======================================================*/

.navar {
  background-color: #915af00e;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 20%;
  min-width: 260px;
  height: 100vh;
}






.navar-case {

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: white;
  padding: 0;
}

.navar-case h3 {
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
}

.navar-case a {
  display: flex;
  justify-content: start;
  align-items: center;
}


.navar-case li a {
  display: flex;
  align-items: center;
  color: white;
}


.navar-option {

  padding-left: 1rem;
  width: 91%;
  border-radius: 15px;
}

.navar-option:hover {
  background-color: #bba4e721;
}

.navar-logo {
  background-color: #915AF0;
  border-radius: 20px;
  width: 3.3rem;
}

.navar-logo-title {
  color: white;
  margin-left: 0.5rem;
}

/*================================================ LOGIN =======================================================*/

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-content {
  background-color: white;
  width: 40%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content h2 {
  width: 100%;
  text-align: center;
  color: #030712;
  font-size: 100%;
}

.input-gmail {
  box-shadow: 0 0 10px rgba(116, 116, 116, 0.699);
  width: 60%;
  padding: 5px;
  color: #5921b9;
  border-radius: 20px;
  display: flex;
  margin: 0.8rem;
}

.input-gmail input {
  background-color: transparent;
  border: 0;
  margin-left: 0.5rem;
  color: #030712;
}

.input-gmail i {
  margin-left: 0.5rem;
}

.input-gmail input:focus {
  outline: none;

}

.login-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.login-buttons button {
  text-align: center;
  width: 25%;
  background-color: #7a32f7;
  border: 0;
  padding: 0.5rem;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.login-buttons button:hover {
  background-color: #915AF0;
}

.login-logo {
  margin-top: 1rem;
  background-color: #6e1dfa;
  padding-right: 0.7rem;
  border-radius: 12px;
}

.oteroption {
  margin-bottom: 1rem;
}

.oteroption a {
  background-color: transparent;
  border: transparent;
  color: #6e1dfa;
  font-size: 14px;
}

.oteroption a:hover {
  color: #b691fc;
}

@media (max-width: 768px) {

  .login-content {
    width: 80%;
  }

  .input-gmail {
    width: 75%;
  }

}

/*========================== viajar =================================*/
.buscador-content {
  
  z-index: 999;
  flex: 1;
  padding: 2rem;
}

.buscador-destino {
  background-color: #f1f1f1;
  color: #030712;
}



.mapa {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 10;
}