

/*================================================ FOOTER =======================================================*/

.footer-model {

  padding: 1rem;
}

/*================================================ NAV =======================================================*/

.navar {
  background-color: #915af00e;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 20%;
  min-width: 260px;
  height: 100vh;
}






.navar-case {

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: white;
  padding: 0;
}

.navar-case h3 {
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
}

.navar-case a {
  display: flex;
  justify-content: start;
  align-items: center;
}


.navar-case li a {
  display: flex;
  align-items: center;
  color: white;
}


.navar-option {

  padding-left: 1rem;
  width: 91%;
  border-radius: 15px;
}

.navar-option:hover {
  background-color: #bba4e721;
}

.navar-logo {
  background-color: #915AF0;
  border-radius: 20px;
  width: 3.3rem;
}

.navar-logo-title {
  color: white;
  margin-left: 0.5rem;
}

/*================================================ LOGIN =======================================================*/



/*========================== viajar =================================*/
.buscador-content {
  
  z-index: 999;
  flex: 1;
  padding: 2rem;
}

.buscador-destino {
  background-color: #f1f1f1;
  color: #030712;
}



.mapa {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 10;
}